@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700;800&display=swap');

*{
  padding:0;
  margin:0;
  box-sizing: border-box;

}

body{
  font-family: 'Open Sans', sans-serif;
  min-height: 100vh;
  width: 100%;
}

.Container {
  max-width: 1420px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-left: 8px;
  padding-right: 8px;
}
.Row {
  width: 100%;
  display: inline-flex;
  
}
.Col {
  width: 100%;
  display: flex;
  align-items: center;
}
.Col {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
@media (max-width: 1024px) {
  .Col {
    grid-template-columns: repeat(2, 1fr);
  }
}
